.activities-section {
  background: rgba(224, 230, 237, 1);
  padding: 8rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

.activities-title-container h2 {
  text-align: center;
  font-size: 3rem;
  background-color: rgba(91, 176, 255, 1);
  background-image: linear-gradient(45deg, rgba(91, 176, 255, 1) 0%, rgba(55, 106, 153, 1) 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-family: var(--font-londrina);
  letter-spacing: 0.45px;
}

.activities-title-container span {
  font-size: 3.75rem;
}

.activities-list-container {
  max-width: 1250px;
  width: calc(100% - 2rem);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 auto;
}

@media screen and (max-width: 1250px) {
  .activities-list-container {
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .activities-list-container {
    flex-flow: column nowrap;
  }

  .activities-title-container {
    margin-bottom: 10rem;
  }
}

@media screen and (max-width: 678px) {
  .activities-section {
    padding: 4rem 2rem;
  }
}
